$main-color: #272a31;
$main-color1: #3c2c6d;
$main-color2: #41317a;
$main-color3: #271c44;

$focus-color: #34b3f8;
$send-area-color: #fff;
$tooltip-text-color: #c2c1d1;
$hover-color: #fff;
$bg-hover-color: #211940;
